@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;900&display=swap");
html{
  scroll-behavior: smooth;
}
body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
 

}
p{
  margin-bottom: 0;
}
.fa-bars:before, .fa-navicon:before {
  content: "\f0c9";
  color: #d10810;
  cursor: pointer;
}
/*-----TopBar-----*/

.topbar {
  border: 1px soild black;
  color: #ffff;
  padding: 0px 60px;
}
.topbar span,
a {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #9898a0;
  margin-right: 12px;
}
.topbar a {
  text-decoration: none;
}
.topbar i {
  margin-right: 4px;
  color: #ca1f26;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
.social-icons i {
  color: black;
  cursor: pointer;
}

@media only screen and (max-width:1200px) {
  .topbar {
    display: none;
  }
  
 
}

/*--x---TopBar--x---*/

.bg_area{
  
  background-image: url(../images/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.bg_area::before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #232331;
    opacity: 0.95;
    content: "";
}
.navbar{
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .nav-item .nav-link{
  color: #fff;
  font-size: 16px;
  font-weight: 700px;
  line-height: 30px;
  color: #fff;
  position: relative;
  margin-right: 40px !important;
  padding: 0 !important;
  
}
.navbar .nav-item .nav-link::after{
  content: '';
  width: 0% ;
  height: 2px;
  background: red;
  position: absolute;
  bottom: 3px;
  left: 0;
  margin: 0 auto;
  transform-origin: center;
  transition:all 0.25s ease-out;
}
.navbar .nav-item .nav-link:hover::after{
  width: 100% ;
  
  

}


.logobox{
  width: 200px;
  background:#F8F5F1;
  border-right: 5px solid #ffbf42;
}
.imgbox img{
  width: 100%;
  padding: 40px 20px;
}
.bg-dark{
  background: transparent !important;
}


/*-------Sticky Header Class-------*/
.sticky{
  background: white;
  color: black !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11111;
.navbar .nav-item .nav-link{
  color: #707070;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}
.imgbox img{
  width: 100%;
  padding: 20px 20px;
}
.logobox{
  width: 200px;
  background:#ffff;
  border-right: 1px solid #ffff;
  margin-right: 30px
}
}
/*------xxxx--Sticky header class--xxxx-----*/

.navbar-toggler {
  display: none !important;
}
.bg_area .fa{
  display: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}
@media only screen and (max-width:1200px) {
  
.bg_area .fa{
display: block;
 
}
}

/*----------Off Canvas Menu Code---------*/
.offcanvas.show:not(.hiding), .offcanvas.showing {
    
    width: 30% !important;
    background:#232331;
    color: white;
    z-index: 2222222;
  }
  .offcanvas.offcanvas-end {
    width: 30% !important;
    background:#232331;
    color: white;
  }
  .fa.fa-close:before, .fa.fa-remove:before {
    content: "\f00d";
    color: yellow;
    font-size: 23px;
}
.offcanvas-header{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.offcanvas-body{
  padding: 0 !important;
  overflow-x: hidden;
}
.offcanvas-body .active{
  color: #d10810;
}
.offcanvas-body ul{
  padding-left: 0 !important;
}
.offcanvas-body ul li{
list-style-type: none;
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.offcanvas-body ul li a{
  text-decoration: none;
  display: block;
    line-height: 24px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    text-transform: capitalize;
}
.offcanvas-body p{
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #b2c1c0;
}
.offcanvas-body .icons-row{
  padding: 30px 20px 30px;
}
.offcanvas-body .icon1{
  display: flex;
  align-items: center;
}
.offcanvas .fa-phone,.fa-message,.fa-clock{
  font-size: 34px;
    line-height: 50px;
    color: #d10810;
}
.twoiconsrow{
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 27px;
}
.twoiconsrow i{ 
  color: yellow;
}
.twoiconsrow .c1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.twoiconsrow .c2{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width:870px) {
  
.offcanvas.show:not(.hiding), .offcanvas.showing {
    
    width: 60% !important;
   
  }
   .offcanvas.offcanvas-end {
    width: 60% !important;
    background:#232331;
    color: white;
  }
 
}

/* ------xx----Off Canvas Menu Code----xx-----*/
  



/*----------Section 1 NavArea--------- */
.section2{
  position: relative;
  z-index: 1;
  color: white;
}
.section2 h1{

  font-size: 80px;
  font-weight: 900;
  line-height: 80px;
  color: white;
}
.section2 span{
  color: #F2BE40;
}
.sec2{
  padding: 100px 0px 170px 0px;
  margin-left: -8px
}
.sec2 button{
  padding: 15px 60px;
  background: #D70006;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
}
.sec2 button:hover{
  background: black;
  color: white;
}
.truckbox{
  position: relative;
}
.section2 .truck{
  position: absolute;
  top: 8%;
}


@media only screen and (max-width:992px) {
  .section2 .sec2{
    text-align: center;
}
.section2 h1 {
  font-size: 67px;
}
.truckbox {
  display: flex;
  justify-content: center;
}

.truckbox .truck{
  position: unset;
  width: 100%;
  margin: 0 auto;
}
.sec2{
  padding-bottom: 80px;
}

}
@media only screen and (max-width:576px) {
  .section2 h1 {
  font-size: 42px;
  line-height: 50px;
}
.section2 .sec2{
  padding-bottom: 70px;
}
}



/*-----xxxx-----Section 1 NavArea-----xxxx---- */






/*--------section3------*/


.section3{
  padding: 80px;
  background: #F8F5F1;
  background-image: url(../images/pattern-1.png);
  display: flex;
  align-items: center;
}
.section3 h3{
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #232331;
  margin-top: 20px;
}
.subbox{
  padding: 50px 20px 20px;
  background: white;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.07);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.subbox i{
  font-size: 50px;
  margin-bottom: 10px;
  color: #ca1f26;
 
  z-index: 10000;
  cursor: pointer;
}
.subbox i::after{
  content: '';
  width: 80px;
  height: 80px;
  border-radius: 50% 50%;
  background-color: #f7f4f0;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
 
}

.subbox:hover i::after{
  top: 32px;
  box-shadow:none;
  


}
.subbox p{
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

@media only screen and (max-width:768px){
  .section3{
    padding-right: 3px;
    padding-left: 3px;
  }
  .section3 h3{
    font-size: 32px;
  }
}

/*---x----section3---x---*/









/*-------- section4 ------*/ 

.section4{
  
  background: #FFFFFF;
  padding: 100px 0px;
}
.section4 .section4_headings{
  padding-right: 112px;
  position: relative;
}
.section4 .section4_headings .about{
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #d70006;
  position: relative;
}
.section4_headings .about::after{
  content: '';
  width: 40px;
  height: 2px;
  background: #d70006;
  position: absolute;
  top: 50%;
  margin-left: 10px;
}

.section4_headings h3{
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin: 30px 0px;
}
.section4_headings h4{
  color:#ffbf42;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  padding-bottom: 15px;
  
}
.section4_headings p{

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #767676;
  
}

.section4_headings .progress{
  border-radius: 0 !important;
  background: #F8F5F1 !important;
}
.section4_headings .progress-bar{
  background: #d70006 !important;
}
.ceo_imagebox{
  height: 90px;
    width: 90px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ff9205;
}
.ceo_imagebox img{
  border-radius: 50%;
}
.section4_headings .ceoname{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-right: 10px;
}
.section4_headings .ceoname p{
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #d70006;
}
.section4_headings .loadimage{
  position: absolute;
  bottom: -139px;
  right: -431px;
  z-index: 1;
}
.section4 .sub{
  display: flex;
  justify-content: center;
  
}
.imiarea{
  position: relative;
}
.section4 .sub .pic1{
  border-radius: 12px;
  margin-top: -119px;
  margin-left: -98px;
}
.section4 .pic2{
position: absolute;
left: -127px;
top: 30%;
}
.section4 .playbtn{
  position: absolute;
  top: 31%;
  right: 0;
  left: -150px;
  margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
  height: 110px;
  width: 110px;
  background-color: #d70006;
  font-size: 54px;
  color: #fff;
  border-radius: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);

}
.section4 .playbtn::before{
  position: absolute;
    left: -20px;
    top: -20px;
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.1);
    content: "";
    border-radius: 50%;
}
.section4 .linediv{
  display: inline-block;
  width: 20px;
  height: 250px;
    background-color: #F2BE40;
    border-radius: 20px;
    position: absolute;
    top: -124px;
    left: -52px;
}
.mobi_img{
  margin-bottom: 15px;
}
.mobi_img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media only screen and (max-width:1200px){

.section4_headings .loadimage {
  visibility: hidden;
}

}

@media only screen and (max-width:600px){

  .ce{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
  
  }
  
  .section4_headings .ceoname {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  }


/*---xx----- section4 ---xx---*/ 






























/*--------------Section5------------*/
.section5{
 
  background-image: url(../images/1.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
 padding: 150px 0px 300px 0px;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
text-align: center;
  flex-direction: column;
  
  margin-bottom: 369px;

  
}
.services{
  position: absolute;
  bottom: -247px;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.section5::after{
  height: 100%;
  width: 100%;
  background-color: #f8f5f1;
  opacity: 0.9;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.section5 .trans{
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #d70006;
  position: relative;
  z-index: 1;
}
.section5 .trans::after{
 
  height: 2px;
  width: 35px;
  position: absolute;
  right: -40px;
  top: 50%;
  background: #d70006;
  content: "";
}
.section5 h3{
  position: relative;
  z-index: 1;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

.section5 .imagearea img{
  width: 100%;
  transition: all 300ms ease;
  border-radius: 10px;

}
.section5 .im{
  overflow: hidden;
  transition: all 300ms ease;
  position: relative;
}
.section5 .im:hover{
  border-radius: 10px 10px 0px 0px;
}
.section5 .imagearea{
  position: relative;
  transition: 0.5s;
  cursor: pointer;
 
}
.section5 .iconarea{
  width: 90px;
  height: 90px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 10px 0px;
}
.section6 .iconarea i{
  font-size: 30px;
  
}
.slide{
  
  width: 0%;
  opacity: 0;
  margin: 0 auto;
  background: #CA2726;
  display: flex;
  align-items: center;
  justify-content:space-between;
padding: 8px 30px;
border-radius: 0px 0px 10px 10px;
color: white;
-webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.slide span{
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: white;
}
.imagearea:hover{
  .iconarea{
    background: #CA2726;
    color: white;
    transition: 0.5s;
  }

.slide{
    opacity: 1;
    width: 100%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
  }

 
  
  
}
.section5 .imagearea img:hover{
  transition: all 300ms ease;
    transform: scale(1.1);

 
}
.section5 .txt p{
  font-size: 12px;
  line-height: 23px;
  font-weight: 700;
  color: #ffbf42;
}
.section5 .txt h6{
  font-size: 24px;
  line-height: 34px;
  font-weight: 800;
  color: #ffff;
}
.section5 .txt{
  position: absolute;
  bottom: 6%;
  left: 12%;
  text-align: left;
  

}

.owl-theme .owl-dots .owl-dot {
  display: none !important;
}

@media only screen and (max-width:576px) {
  .section5 h3 {
    margin-bottom: 128px;
    font-size: 32px;
  }

}























/*-----------Section7------*/
.section7{
  padding:120px 0px;
  background-image: url(../images/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.section7::before{
  position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #232331;
    opacity: 0.5;
    content: "";
    pointer-events: none;
}
.section7 .trans{
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  z-index: 1;
  letter-spacing: 2px;
}
.section7 .trans::after{
 
  height: 2px;
  width: 35px;
  position: absolute;
  right: -40px;
  top: 50%;
  background: #d70006;
  content: "";
}
.section7 h3{
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  z-index: 1;
  position: relative;
  color: white;
}
.section7 button{
  padding: 15px 50px;
  background: #D82B2A;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;

  z-index: 1;
  position: relative;
}
.section7 button:hover{
  background: black;
  color: white;
}
.section7 .circle{
  position: relative;
}
.section7 .circle::before{
 
    position: absolute;
    left: -10px;
    top: 0;
    height: 88px;
    width: 260px;
    background-image: url(../images/object-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    content: "";

}

@media only screen and (max-width:820px){
  .section7 .circle::before{
    display: none;
  }
  .section7 h3 {
    font-size: 46px;
    line-height: 53px;
}
}
@media only screen and (max-width:567px){
  
  .section7 h3 {
    font-size: 38px;

}
}

/*-----------Section7------*/






















/* section8 */
.section8{
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.section8 .trans{
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color:#d70006 ;
  position: relative;
  letter-spacing: 2px;
}
.section8 .trans::after{
 
  height: 2px;
  width: 35px;
  position: absolute;
  right: -40px;
  top: 50%;
  background: #d70006;
  content: "";
}
.section8 h3{
  font-size: 48px;
  line-height: 58px;
  font-weight:700 ;
  margin: 20px 0px 40px 0px;
}
.sli_box .img_box{
  overflow: hidden;
  border-radius: 10px;
  transition: all 300ms ease;
  position: relative;
}
.sli_box .img_box img{
  width: 100%;
  border-radius: 10px;
  position: relative;
  transition: all 300ms ease;
}


.sli_box .img_box img:hover{
  transition: all 300ms ease;
  transform: scale(1.1);
  
}
.sli_box:hover .icon{
  opacity: 1;
    
  transition: all 300ms ease;
  
}
.section8 .te{
  position: absolute;
  bottom: 35px;
  left: 50px;
  cursor: pointer;
}
.section8 .te p{
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: white;
  position: relative;
}
.section8 .te p::before{
  content: '';
  height: 3PX;
  width: 35px;
  background: #d70006;
  position: absolute;
  top: -10px;

  
}
.section8 .te h4{
  font-size: 24px;
  line-height: 34px;
  font-weight: 800;
  color: white;
}
.section8 .te h4:hover{
  color: #D2AB3D;
}
.section8 .icon{
  position: absolute;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  background-color: #d70006;
  border-radius: 5px;

  display: flex;
  
  align-items: center;
 
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  
  transition: all 300ms ease;
  opacity: 0;
}
.section8 .container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1366px !important;
  margin: 0px -15px !important;
}


@media only screen and (max-width:820px){

  .section8 h3 {
    font-size: 46px;
    line-height: 53px;
}
}
@media only screen and (max-width:567px){
  
  .section8 h3 {
    font-size: 38px;

}
}
/* ---x--section8--x--- */



















/* section9 */
.section9{

  background-image: url(../images/7.jpg);background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  border-radius: 0 10px 10px 0;
  position: relative;
  }
  .section9 .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f5f1;
    border-radius: 0 10px 10px 0;
    opacity: 0.9;
    content: "";
  }
  .section9 .container{
    padding: 70px 0px;
    z-index: 1000;
    position: relative;
  }
  
  .sec9_bg{
    padding: 30px 60px;
  }
  .sec9_bg .testmonial{
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color:#d70006 ;
    position: relative;
    letter-spacing: 2px;
    z-index: 1111;
  
  }
  .sec9_bg .testmonial::before{
   
    height: 2px;
    width: 35px;
    position: absolute;
    right: -25%;
    top: 50%;
    background: #d70006;
    content: "";
    z-index: 1;
  }
  
  .sec9_bg h3{
    
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 20px;
  }
  .sec9_bg i{
    font-size: 70px;
    color: #ca1f26;
  }
  .sec9_bg p{
   
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    color: #767676;
  }
  .sec9_bg .box{
    height: 90px;
      width: 90px;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid #ca1f26;
      
    
  }
  .sec9_bg .content{
    display: flex;
    align-items: center;
    margin-top: 60px;
  }
  
  .sec9_bg .box img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
  }
  .sec9_bg .txt h4{
    font-size: 24px;
    line-height: 34px;
    font-weight: 800;
  }
  .sec9_bg .txt p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #d70006;
  }
  .formwork .sub-form{
    background: #CA2726;
    padding: 40px;
    border-radius: 10px;
    color: white;
  }
  .formwork .sub-form label{
    margin-bottom: 10px;
  }
  .formwork .sub-form h3{
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  
  }
  .formwork .sub-form input{
    margin-bottom: 10px;
  padding: 14px 20px;
    outline: none;
  }
  .formwork .sub-form select{
    padding: 14px 20px;
  }
  .formwork .sub-form input:active{
  
    border: 1px solid black !important;
  }
  .formwork .sub-form button{
    background: #232331;
    outline: none;
    border: none;
    padding: 20px 60px;
    font-size: 14PX;
    line-height: 30PX;
    font-weight: 600;
  }

  @media only screen and (max-width:576px) {
    .sec9_bg h3 {
      font-size: 32px;
    
  }
  .sec9_bg p {
    font-size: 22px;
    line-height: 29px;
}
.sec9_bg {
  padding: 30px 15px;
}
  }

































  /* section10 */
.section10{
  margin-bottom: 150px;
}
.section10 .container{
  
  background-image: url(../images/8.jpg);
  border-radius: 10px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  display: flex;

  align-items: center;

  justify-content: space-between;
  background-color: #ca1f26;
  padding: 65px 60px;
  padding-left: 90px;
  overflow: hidden;
  border-radius: 10px;
}

.section10 .container::before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ca1f26;
  opacity: 0.8;
  content: "";
  pointer-events: none;
}

.section10 .container::after{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 140px;
  height: 220px;
  background-color:#ffbf42;
  border-right: 30px solid #ac0b12;
  content: "";
  
  transform: rotate(-45deg);

  transform-origin: right bottom;
}

.section10 .box{
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section10 .container .box h3{
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  color: white;
}
.section10 .container .box button{
  background: #232331;
  outline: none;
  border: none;
  padding: 13px 60px;
  font-size: 14PX;
  line-height: 30PX;
  font-weight: 600;
}


@media only screen and (max-width:992px) {
  .section10 .box{
    flex-direction: column;
    text-align: center;
  }
  .section10 .container{
    max-width: 992px;
  }
  .section10 .container .box h3 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width:562px) {
  .section10 .container {

    padding: 65px 0px;
    padding-left: 2px;
  }
  .section10 .container .box h3 {
    font-size: 28px;
  }
}



























/* footer */

.footer{
  
  background-image: url(../images/5.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0;
  
}
.footer::before{
  position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #232331;
    opacity: 0.92;
    content: "";
}
.footer .container{
  z-index: 1;
  position: relative;
}
.footer .first_row {
  color: white;
  
}
.footer .first_row h4{
font-size: 18px;
font-weight: 700;
line-height: 30px;

}
.footer p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9898a0;
  
  }
  .footer .x1{
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px 20px;
  }
  .footer .borb{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1;
    padding: 0 !important;
  }
  .footer .sub .iconbox{
   
    height: 100px;
    width: 100px;
    color: #ac0b12;
    background-color: #1d1d29;
   
    display: flex;
    
    align-items: center;
   margin-bottom: 12px;
    justify-content: center;
    font-size: 64px;
    border-radius: 5px;
    
    transition: all 300ms ease;
  }
  .footer .sub .iconbox:hover{
    color: white;
    background: #ca1f26;
  }

/*footer step2*/
.footer1 button{
  line-height: 20px;
    padding: 15px 30px;
    font-size: 14px;
    background: #ca1f26;
    color: white;
  border: none;
  outline: none;
  font-weight: 700;
}
.foo2 h3{
  color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 30px;
    position: relative;
    display: inline;
}
.foo2 h3::after{
  position: absolute;
    right: -37%;
    top: 50%;
    margin-top: -1px;
    background-color: #ca1f26;
    height: 3px;
    width: 25px;
    content: "";
    margin-left: 10px;
}
.foo2 .mylinks ul{
  padding-left: 0;
}
.foo2 .mylinks ul li{
  margin-bottom: 15px;
}
.foo2 .mylinks ul li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9898a0;
  position: relative;
}
.foo2 .mylinks ul li a::before{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #ff9205;
  content: "";
  
  transition: all 300ms ease;
}
.foo2 .mylinks ul li a:hover::before{
  width: 100%;
}
@media only screen and (max-width:576px){
  .footer .sub {
    display: flex;
    justify-content: center;
  }
}



.foo2 .imgbox1 img{
  width: 100%;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}
.foo2 .imgbox1 img::after{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #d70006 padding-box content-box;
  opacity: 0.8;
  content: "";
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.searchbox{
  width: 100%;
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 4px;
}
.searchbox .iconarea{
  width: 20%;
  height: 100%;
  background: #ac0b12;
  display: flex;
  justify-content: center;
  align-items: center;
color: white;
}

.searchbox input{
  height: 100%;
  width: 80%;
  padding-left: 20px;
  border: none;
  outline: none;
}
.footer_last{
  background: #1D1D29;
  color: white;
  padding: 40px 0px;
}
.footer_last span{
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #9898a0;;
  
}
.footer_last span:hover{
  color: white;
}
.footer_last .icons{
  display: flex;
  justify-content: flex-end;
}
.footer_last .icons i{
  padding-right: 30px;
  cursor: pointer;
}
@media only screen and (max-width:576px){
 .footer_last .f1{
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .footer_last .f2{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .footer_last span {
  margin-bottom: 20px;
 }
}






/*scroll to top*/

.scroll_to_top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background-color:#D70006;
  z-index: 100;
  display: none;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  transition: all 300ms ease;
}

.scroll_to_top:hover{
  background: #232331;
  color: white;
}


.preloader{

    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #f8f5f1;
    display: block;
  
}
.preloader::before{


    margin-top: 40px;
    content: 'Loading';
    position: absolute;
    left: 48%;
    top: 47%;
    margin-right: 4px;
    margin-left: -5pz;
    color: #d10810;
}


.preloader:after {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  width: 100px;
  margin-left: -50px;
  margin-top: -60px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/preloader.gif);
  background-size: 64px;
  content: "";
}

